<!DOCTYPE HTML>
<html>
<head>
  <script
    src="https://www.google.com/jsapi?key=ABQIAAAAR8Llr8W4aMBq8ibzzAwHxxT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSjG0qUqVHPfQVBsMQSNJYQrVfhDQ"
    type="text/javascript"></script>
  <script type="text/javascript">
    google.load("jquery", "1.4.4");
  </script>
</head>
<body>
<h1>Login Server</h1>
<%- body %>
</body>
</html>