<form action="/register" method="POST" enctype="application/x-www-form-urlencoded">
  <fieldset>
    <legend>Register</legend>
    <ul style="list-style:none">
      <li>
        <label for="name">How would you like to be called</label>
        <input name="name" type="text" placeholder="Name" required="true" autofocus="true"/>
      </li>
      <li>
        <label for="email">How can I reach you?</label>
        <input name="email" type="email" placeholder="example@domain.com" required/>
      </li>
      <li>
        <label>Password?</label>
        <input name="password" type="password" maxlength="100" required="true"/>
      </li>
      <li>
        <input type="submit" value="Submit"/>
      </li>
    </ul>
  </fieldset>
</form>
